{{#each blogs}}
<div class="row mb-4 project">
  <div class="col-md-5">
    <p>{{this.title}}</p>
  </div>
  <div class="col-md-5">
    <p>Created by {{user.username}} on {{format_date date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>{{contents}}</p>
  </div>
{{#if comments}}
    <h3>Comments:</h3>
    <ul>
        {{#each comments}}
            <li>
                <strong>{{this.user.username}}:</strong> {{this.comment}}
                <br>
                <small>Posted on {{this.date_created}}</small>
            </li>
        {{/each}}
    </ul>

{{else}}
    <p>No comments yet.</p>
{{/if}}
</div>
{{/each}}
