<!-- Loop over each object in the projects array -->
{{#each blog }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <p>Created by {{blog.user.username}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.content}}
    </p>
  </div>
  <div>
    <p>
      {{comments.comment}}
    </p>
  </div>
  <div class="col-md-5">
    <p>Created by {{comments.user.username}} on {{format_date comments.date_created}}</p>
  </div>
</div>
{{/each}}
