<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Blog Post:</h3>

    <form class='form' id="new-blog-form" >
      <div class="form-group">
        <label for="blog-title">Blog Title:</label>
        <input class="form-input" type="text" id="blog-title" name="title" />
      </div>
      <div class="form-group">
        <label for="blog-content">Enter New Blog:</label>
        <textarea class="form-input" id="blog-content" name="contents"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

 
  <div class="col-md-6 blog-list">
    <h3>Current Blogs:</h3>
    {{#if user.blogs}}
    {{#each user.blogs}}
    <div class="row mb-2" id=`blog_id${id}` data-blog_id={this.id}>
      <div class="col-md-8">
        <h4><a href="api/blog/{{this.id}}">{{this.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger deleteBtn"  data-id='{{this.id}}'>DELETE</button>
      </div>
            <div class="col-md-4">
        <button class="btn btn-sm btn-danger edit"  data-id='{{this.id}}'>Edit Post</button>
      </div>
      
      <form class="form new-comment-form" >
        <div class="form-group">
          <label for={{id}}>Enter Comment:</label>
          <textarea class="form-input" id={{id}} name="comment"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Comment</button>
        </div>
      </form>
    </div>
    {{/each}}
    {{else}}
    <div class="new-comment-form"></div>
    <div id="edit-form"></div>
    {{/if}}

  </div>

<script src="/js/profile.js"></script>